<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Afficher emplois</title>

  <link rel="stylesheet" href="">
</head>
<body>
<header>
  <meta charset="UTF-8">
  <title>Accueil</title>
  <link th:href="@{/css/menuCSS.css}" rel="stylesheet" type="text/css" />
  <link th:href="@{/css/alert.css}" rel="stylesheet" type="text/css" />
  <link th:href="@{/css/recherche.css}" rel="stylesheet" type="text/css" />
  <div class='tete'>
    <div class="banniere">
      <table>
        <tr>
          <th><a th:href="@{/}"><img id="logo" th:src="@{images/logo.PNG}" alt="logo" /></a></th>
          <th><h1 id="titre">Skillcravee</h1></th>
        </tr>
      </table>
    </div>
    <div id='droite'>
      <nav>
        <ul id='liste'>

          <li class="active"><a th:href="@{/}">Accueil</a></li>

          <li>
            <a
                    th:href="@{/}">Téléchargez CV
            </a>
          </li>
          <li>
            <a
                    th:href="@{/}">Inscription
            </a>
          </li>
          <li>
            <div class="dropdown">
              <button class="dropbtn">Administration</button>
              <div class="dropdown-content">
                <a th:href="@{/etudiants}">Etudiants</a>
                <a th:href="@{/profs}">Professeurs</a>
                <a th:href="@{/entreprises}">Entreprises</a>
                <a th:href="@{/administrateurs}">Administrateurs</a>
              </div>
            </div>
          </li>
          <li>
            <div class="dropdown">
              <button class="dropbtn">Connexion</button>
              <div class="dropdown-content">
                <a th:href="@{/}">Etudiant</a>
                <a th:href="@{/}">Professeur</a>
                <a th:href="@{/entreprises}">Entreprise</a>
                <a th:href="@{/utilisateurs}">Administration</a>
              </div>
            </div>
          </li>
          <li>
            <a
                    th:href="@{/}">Quitter
            </a>
          </li>
          <li>
            <div class ="language-switcher">
              <select id="language-select">
                <option value ="fr">Français</option>
                <option value ="en">English</option>
              </select>
              <script>
                const languageSwitcher = document.getElementById('language-select')
                languageSwitcher.addEventListener('change', function(){
                  const selectedLanguage = languageSwitcher.value;
                  window.location.href = '/' + selectedLanguage + '/';
                });
              </script>
            </div>
          </li>
        </ul>

      </nav>

    </div>
  </div>
</header>
<div th:if="${message!=null}" class="alert">
  [[${message}]]
</div>
<h1>Liste des emplois de l'entreprise<span> [[${nomEntreprise}]]</span></h1>

    <div class="row" id="travailContenu">
        <div class="card m-1 p-1 bg-light"
             th:each="emploi : ${listeEmploisEntreprise}">
          <div class="emploiDescrition">
            <h4 th:text="${emploi.titre}"> </h4>



            <h4>
              <span class="badge badge-pill badge-primary float-right" th:text="${emploi.salaire}">
              </span>
            </h4>
            <h4>
              <span class="badge badge-pill badge-primary float-right" th:text="${emploi.date_debut}">
              </span>
            </h4>
            <h4>
              <span class="badge badge-pill badge-primary float-right" th:text="${emploi.date_fin}">
              </span>
            </h4>

            <div class="card-text bg-white p-1" th:text="${emploi.description}">

            </div>
            <a class="link-delete"
               th:href="@{'/emplois_entreprise/delete/' + ${emploi.id}}"
               th:userId="${emploi.id}"
               title="Supprimer cet emploi">Supprimer  [[${emploi.id}]]</a>


        </div>
      </div>
    </div>
</body>
<style>
  .row {
    display: grid;
    grid-auto-rows: minmax(200px, auto);
    grid-template-columns: repeat(2, 1fr);
    gap: 1px;
    justify-content: center;
  }

  .emploiDescrition {
    background-color: #f2f2f2;
    padding: 10px;
    transform: rotate(-2deg) scale(0.9);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    max-width: 90%;
    margin: 0 auto;
  }

  .emploiDescrition:hover {
    transform: rotate(2deg) scale(0.95);
    z-index: 1;
  }
</style>
</html>
