<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<body>
<header>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <link th:href="@{/css/menuCSS.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/alert.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/recherche.css}" rel="stylesheet" type="text/css" />
    <div class='tete'>
        <div class="banniere">
            <table>
                <tr>
                    <th><a th:href="@{/}"><img id="logo" th:src="@{images/logo.PNG}" alt="logo" /></a></th>
                    <th><h1 id="titre">Skillcravee</h1></th>
                </tr>
            </table>
        </div>
        <div id='droite'>
            <nav>
                <ul id='liste'>

                    <li class="active"><a th:href="@{/}">Accueil</a></li>

                    <li>
                        <a
                                th:href="@{/}">Téléchargez CV
                        </a>
                    </li>
                    <li>
                        <a
                                th:href="@{/index/new}">Inscription
                        </a>
                    </li>
                    <li>
                        <div class="dropdown">
                            <button class="dropbtn">Administration</button>
                            <div class="dropdown-content">
                                <a th:href="@{/etudiants}">Etudiants</a>
                                <a th:href="@{/profs}">Professeurs</a>
                                <a th:href="@{/entreprises}">Entreprises</a>
                                <a th:href="@{/administrateurs}">Administrateurs</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown">
                            <button class="dropbtn">Connexion</button>
                            <div class="dropdown-content">
                                <a th:href="@{/}">Etudiant</a>
                                <a th:href="@{/}">Professeur</a>
                                <a th:href="@{/}">Entreprise</a>
                                <a th:href="@{/utilisateurs}">Administration</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a
                                th:href="@{/}">Quitter
                        </a>
                    </li>
                    <li>
                        <div class ="language-switcher">
                            <select id="language-select">
                                <option value ="fr">Français</option>
                                <option value ="en">English</option>
                            </select>
                            <script>
                                const languageSwitcher = document.getElementById('language-select')
                                languageSwitcher.addEventListener('change', function(){
                                    const selectedLanguage = languageSwitcher.value;
                                    window.location.href = '/' + selectedLanguage + '/';
                                });
                            </script>
                        </div>
                    </li>
                </ul>

            </nav>

        </div>
    </div>
</header>
<div th:if="${message!=null}" class="alert">
    [[${message}]]
</div>
<div class="body-container">
    <div class="center">
        <div class="bordure_recherche centrer_recherche">
            <div class="center-form">
                <form th:action="@{rechercher/index}">
                    <table>
                        <tr>
                            <td>
                                <input th:value="${keyword}" name="keyword" type="search" placeholder="Poste de travail" class="recherche" required/>
                            </td>
                            <td style="text-align: right;">
                                <button type="submit" style="border: none;background-color: white">
                                <img src="images/loupe.png" alt="loupe">
                                </button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
    <div class="left">
        <div class="bordure_recherche centrer_recherche">
            <div class="left-form">
                <form th:action="@{/filtrer/index}" method="get">
                    <table>
                        <tr>
                            <td>
                                <select name="sort" class="recherche">
                                    <option value="asc" th:value="asc" th:selected="${sort == 'asc'}">A to Z</option>
                                    <option value="desc" th:value="desc" th:selected="${sort == 'desc'}">Z to A</option>
                                </select>
                            </td>
                            <td style="text-align: right;">
                                <input type="submit" value="Sort" style="border: none; background-color: white">
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
<table>
    <tbody>
    <tr th:each="emploi : ${listeEmplois}">
        <td class="travail" style="text-align: center; vertical-align: middle; width: 1%;">
            <div class="yo">
                <img style="margin-left: auto; margin-right: auto;" th:src="@{${'/images/entreprise/' + emploi.entreprise.nom + '.png'}}" />
            </div>
        </td>
        <td class="travail">
            <h4 class="job-title" th:text="${emploi.titre}"></h4>
            <h4>
                <span th:text="${emploi.salaire}"></span>
            </h4>
            <button class="show-info-btn">+</button>
        </td>
        <td class="job-info-container travail">
            <div class="job-info" style="display: none;">
                <p>
                    <span th:text="${emploi.date_debut}"></span>
                </p>
                <p>
                    <span th:text="${emploi.date_fin}"></span>
                </p>
                <p>
                    <span th:text="${emploi.entreprise.address}"></span>
                </p>
                <p>
                    <span th:text="${emploi.entreprise.email}"></span>
                </p>
                <p>
                    <span th:text="${emploi.description}"></span>
                </p>
            </div>
        </td>
    </tr>
    </tbody>
</table>

</body>

<style>

    .travail {
        border: 1px solid #ccc;
        padding: 10px;
        background-color:white;
    }

    table {
        width: 100%;
    }

    .yo {
        display: flex;
        align-items: center;
    }

    .yo img {
        height: 35px;
        width: auto;
        margin-right: 10px;
    }

    .job-title {
        margin: 0;
        font-size: 18px;
    }

    .body-container {
        display: flex;
    }

    .left {
        flex: 0 0 auto;
    }

    .center {
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<script>
    const showInfoBtns = document.querySelectorAll('.show-info-btn');

    showInfoBtns.forEach(function (btn) {
        btn.addEventListener('click', function () {
            const jobInfo = this.parentNode.nextElementSibling.querySelector('.job-info');

            this.classList.toggle('expanded');
            jobInfo.style.display = this.classList.contains('expanded') ? 'block' : 'none';
            const jobInfoContainer = this.parentNode.nextElementSibling;
            jobInfoContainer.classList.toggle('bordered');

            if (this.classList.contains('expanded')) {
                this.textContent = '-';
            } else {
                this.textContent = '+';
            }
        });
    });
</script>
</html>