<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="static/style.css" rel="stylesheet" type="text/css" />
  <title>Connexion-Prof</title>
</head>
  <body class="couleur">
    <div class="formulaire">
      <div class="contenu">
        <a th:href= "@{/}"><img th:src="@{images/logo.PNG}"/></a>
          <form method="POST" action="#">
            <h1 class="h1">CONTENT DE VOUS REVOIR!<h1>
              <p>Mettez vos identifiants pour continuer</p>
              <input placeholder="DA" type="da" class="form-control" id="da" name="da" required>
              <input placeholder="Password" type="password" class="form-control" id="password"  name="password" required>
              <input type="submit" id="submit" name="submit" value="LOGIN" class="btn-login"><br>
              <p>Pas de compte?</p>
              <a th:href="@{/inscription}">Creer une!</a>
      </div>
    </div>
    </form>
</body>
</html>
